main.aux
main.bbl
main.bcf
main.blg
main.fdb_latexmk
main.fls
main.log
main.out
main.toc
main.run.xml
main.synctex.gz
main.latexml.log
LaTeXML.cache
command.txt
Mercat2.pdf
limit-set.code-workspace
main.bbl-SAVE-ERROR
main.ind
main.idx
main.ilg
main.tdo
limit-set.aux
limit-set.bbl
limit-set.bcf
limit-set.blg
limit-set.fdb_latexmk
limit-set.fls
limit-set.idx
limit-set.ilg
limit-set.ind
limit-set.latexml.log
limit-set.log
limit-set.out
limit-set.run.xml
limit-set.synctex.gz
limit-set.toc
